<div class="footer"  id="footer" >
  <div style="margin: auto;max-width: 1200px;">
    <!-- <h1 style="text-align: center;padding-top:50px;color:#212121;">LOGO</h1> -->
 

    <div style="max-width: 300px;max-height: 250px; margin: auto;">
      <img src="assets/logo/logo.png" style="width: 100%;">
    </div>
    <br>
    <hr>
    <div class="footer-items">
        <div>
          <h2>CONTACT ME</h2>
          <p>Email: lesegomatlalaartworks@gmail.com</p>
          <!-- <p>Phone: +27 63 576 9273 / +27 79 443 5678</p> -->
          <p>Phone: +27 63 576 9273 </p>
          <p>Address: Riverside, Jane Furse, Limpopo, 1085</p>
        </div>
        <div>
          <h2>COMPANY</h2>
          <p>Home</p>
          <p ><a>About</a></p>
          <!-- <p ><a>Blog</a></p> -->
          <p ><a>Gallery</a></p>
          <!-- <p ><a>Gallery</a></p> -->

        </div>
        <div>
          <h2>LEGAL</h2>
          <p>FAQ's</p>
          <p>Terms and Services</p>
          <p>Privacy Policy</p>
          <!-- <p>Complaince</p> -->
        </div>
        <div style="display: flex;flex-direction: column;">
          <h2>SOCIALS</h2>
          <div style="display: flex;justify-content: space-between;">
            
              <a class="social-icons" href="https://www.linkedin.com/company/leadcypher/">A</a>
              <a class="social-icons"href="">B</a>
              <a class="social-icons" href="">C</a>
              <a class="social-icons" href=" ">D</a>
          </div>
          <div class="button" style="padding-top: 20px;">
            <!-- <button  class="arrow-button" style="padding:10px; background-color: #0A4041;color: orange;border-radius: 5px; width: 100%;height: 50px;font-size: 22px;border:none">Book a Call<span class="arrow"></span>
            </button> -->
          </div>
          <!-- <a href="">Instagram</a>
          <a href="">Whatsapp</a>
          <a href="">YouTube</a>
          <a href=" ">Linkedin</a> -->
        </div>
        <div>
          <!-- <h2 style="text-align: center;padding-top:50px;color:#212121;">content</h2> -->
          <!-- <div style="max-width: 150px;max-height: 150px;padding-top: 20px;">
            <img src="assets/logo/logo.png" style="width: 100%;">
          </div> -->

        </div>
    </div>
    <hr>
    <p style="color:#DDD;padding-bottom: 10px;text-align: center;">  Copyright &copy; mokoneartstudios. All rights reserved.</p>
  </div>
</div>
