<div  class="homepage" >
  <app-Navbar></app-Navbar>
  <div class="container">
      <div style="padding-top: 80px;max-width: 1000px;">
        <h1 >Limpopo's self-taught talent, crafting hyper-realistic dreams on paper.</h1>
      </div>
      <div style="padding-top: 20px;padding-right: 20px;">
        <p style="color: #bbb;max-width: 650px; font-size: 15px;font-family: Work Sans,sans-serif;line-height: 1.9; ">Step into the captivating world of Lesego Matlala, where the pencils become conduits of creativity, as his mesmerizing art effortlessly dances onto the paper, transcending the boundaries of control and revealing the true essence of artistic expression</p>
      </div>
  </div>
</div>
<app-about></app-about>
<div style="height: 90vh;">

</div>
<app-footer></app-footer>