<div class="about">
        <div class="container" >
                <div class="image">
                        <div style="max-width: 550px;min-width: 300px;min-height: 250px;">
                                <img src="/assets/background/bg3.jpg" style="width: 100%;">
                        </div>
                </div>
                <div class="description">
                        <h2>ABOUT ME</h2>
                        <p>Experience the captivating world of Lesego Matlala, a self-taught South African artist hailing from Limpopo.
                                With an unwavering dedication to hyper-realism, Lesego has spent the past five years masterfully creating 
                                breathtaking drawings on white/cream paper using graphite and charcoal. Drawing inspiration from life's journey, 
                                his art evokes profound emotions and forges a profound connection with viewers. Guided by principles of patience, 
                                practice, and persistence, Lesego's works are a testament to his unwavering pursuit of artistic perfection. Immerse 
                                yourself in his mesmerizing creations and witness the passion that flows from his pencils onto the page.</p>
                </div>


        </div>
</div>