<div style="height:90px;width: 100%;">
  <nav class="navbar" style="padding-left: 20px;padding-right: 20px;">
    <!-- LOGO -->
    <div class="logo">
        <!-- <h1 style="font-weight: 600;color: orange;;">Logo</h1> -->
        <!-- <img src="assets/LOGO/5.png"> -->
        <div style="max-width: 150px;max-height: 140px; margin: auto;" >
          <img src="assets/logo/logo.png" style="width: 100%;">
        </div>
    </div>
    <!-- NAVIGATION MENU -->
    <ul class="nav-links">
        <input type="checkbox" id="checkbox_toggle" />
        <label for="checkbox_toggle" class="hamburger">&#9776;</label>
        <div class="menu">
            <li ><a class="navlinks">Home</a></li>
            <li > <a class="navlinks">About </a></li>
            <li ><a class="navlinks" >Blog</a></li>
            <li ><a class="navlinks" >Gallery</a></li>
            <li ><a class="navlinks" >Contact</a></li>

        </div>
    </ul>
  </nav>
</div>